*.pl linguist-language=Perl
*.t linguist-language=Perl
/bench/repeat-character linguist-language=TCL
/date-time/stardate linguist-language=TCL
/filesys/here linguist-language=TCL
/filesys/is-changed-mtime linguist-language=TCL
/filesys/repod linguist-language=TCL
/filesys/zcomppoke linguist-language=TCL
/logging/expectless linguist-language=TCL
/logging/git-allhook linguist-language=TCL
/misc/feed linguist-language=TCL
/misc/forexample linguist-language=TCL
/misc/maxof linguist-language=TCL
/music/playit linguist-language=TCL
/network/hexip4todottedquad linguist-language=lisp
/network/non-buffered-sink linguist-language=TCL
/network/slow-echo-server linguist-language=TCL
